.header__links {
  text-decoration: none;
  align-self: center;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  flex: 0 0 auto;
  transition: opacity .1s linear;
}

.header__links:hover {
  opacity: .6;
}